{% extends 'shop/basic.html' %}

{%  block title%} About Us {% endblock %}

{%  block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
          <p>My Awesome Cart is an Indian e-commerce company based in Mumbai, Maharashtra, India.
              It was founded by Jai Shivnani in 2020. The company initially focused on book sales,
              before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries,
              and lifestyle products.
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Branches</h2>
        <p>We have head offices in the metro cities like Mumbai, Delhi, Kolkata and Banglore and provide our services all over the India.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Vision</h2>
        <p>Our vision is to promote e-commerce and simplify buying online with our great variety of products.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Customer Support</h2>
        <p>Our Customer support team is there to help and solve any queries related to products and simplify your experience with us.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>



{% endblock %}